* {
    padding: 0;
    margin: 0
}

body {
    /* font-family:"Gabarito", sans-serif; */
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    vertical-align: top;
}

.navbar__s1 {
    display: flex;
    gap: 10px;
}

.navbar__s1 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

.navbar__s2 {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.navbar__s2 span {
    margin: 10px;
    font-weight: 600;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

.navbar__INR {
    display: flex;
    gap: 10px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-evenly;

}

.navbar__pipe span {
    font-weight: 600;
}

.navbar__signin {
    background-color: black;
    color: white;
    border-radius: 30px;
    ;
    width: 85px;
    margin-top: -5px;
    margin-left: 10px;
    height: 45px;
    font-weight: bolder;
    font-size: 15px;
}

.navbar__pipe {
    border-left: solid gray 1px;
    height: 25px;
}

.where {
    margin-top: 40px;
    font-size: x-large;
    text-align: center;
    letter-spacing: .02em;
}

.search__main__s1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.search__main__s2 span {
    font-weight: 600;
}

.input__search {
    padding: 30px;
    justify-content: center;
}

.input__search1 input {
    width: 635px;
    height: 57px;
    border-radius: 40px;
    margin-left: 375px;
    padding-left: 52px;
    font-size: large;
    border: solid grey 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#search2 {
    position: relative;
    top: 20x;
    font-size: bold;
    left: 417px;
}

.search__button {
    position: relative;
    right: 140px;
}



.input__search1 button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #34e0a1;
    margin-left: 29px;
    padding-bottom: 1px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.main__image {
    margin-left: 215px;
    width: 1744px;
}

.main__image img {
    background: linear-gradient(90deg, #d4dff7, #dcc8ff);
    /* padding: var(--spacing-09) calc(var(--spacing-09)* 2); */
    position: relative;
    width: 64%;
    /* background-color: #dcc8ff;#d4dff7; */
    height: 10%;


    /* margin: auto; */
}

.powered {
    position: relative;
    bottom: 372px;
    left: 160px;
    font-size: small;
    color: grey;
}

.beta {
    position: relative;
    bottom: 388px;
    left: 258px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
}

.built__trip {
    bottom: 375px;
    width: 226px;
    height: 35px;
    position: relative;
    left: 158px;
    font-size: xxx-large;
}

.reviews {
    bottom: 295px;
    width: 303px;
    height: 84px;
    position: relative;
    left: 158px;
    font-size: x-large;
    font-weight: 500;
}

.trip__ai {
    position: relative;
    bottom: 270px;
    left: 163px;
    background-color: #301d49;
    color: white;
    border-radius: 50px;
    width: 210px;
    height: 50px;
    font-size: large
}

.viewbox {
    fill: white;
    position: absolute;
    left: 10px;
}
* {
    padding: 0;
    margin: 0
}

body {
    /* font-family:"Gabarito", sans-serif; */
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 20px;
    vertical-align: top;
}

.navbar__s1 {
    display: flex;
    gap: 10px;
}

.navbar__s1 img {
    width: 40px;
    height: 40px;
    border-radius: 100%;

}

.navbar__s2 {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.navbar__s2 span {
    margin: 10px;
    font-weight: 600;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

.navbar__INR {
    display: flex;
    gap: 10px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: space-evenly;

}

.navbar__pipe span {
    font-weight: 600;
}

.navbar__signin {
    background-color: black;
    color: white;
    border-radius: 30px;
    ;
    width: 85px;
    margin-top: -5px;
    margin-left: 10px;
    height: 45px;
    font-weight: bolder;
    font-size: 15px;
}

.navbar__pipe {
    border-left: solid gray 1px;
    height: 25px;
}

.where {
    margin-top: 40px;
    font-size: x-large;
    text-align: center;
    letter-spacing: .02em;
}

.search__main__s1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.search__main__s2 span {
    font-weight: 600;
}

.input__search {
    padding: 30px;
    justify-content: center;
}

.input__search1 input {
    width: 635px;
    height: 57px;
    border-radius: 40px;
    margin-left: 375px;
    padding-left: 52px;
    font-size: large;
    border: solid grey 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#search2 {
    position: relative;
    top: 20x;
    font-size: bold;
    left: 417px;
}

.search__button {
    position: relative;
    right: 140px;
}



.input__search1 button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #34e0a1;
    margin-left: 29px;
    padding-bottom: 1px;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.main__image {
    margin-left: 215px;
    width: 1744px;
}

.main__image img {
    background: linear-gradient(90deg, #d4dff7, #dcc8ff);
    /* padding: var(--spacing-09) calc(var(--spacing-09)* 2); */
    position: relative;
    width: 64%;
    /* background-color: #dcc8ff;#d4dff7; */
    height: 10%;


    /* margin: auto; */
}

.powered {
    position: relative;
    bottom: 372px;
    left: 160px;
    font-size: small;
    color: grey;
}

.beta {
    position: relative;
    bottom: 388px;
    left: 258px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
}

.built__trip {
    bottom: 375px;
    width: 226px;
    height: 35px;
    position: relative;
    left: 158px;
    font-size: xxx-large;
}

.reviews {
    bottom: 295px;
    width: 303px;
    height: 84px;
    position: relative;
    left: 158px;
    font-size: x-large;
    font-weight: 500;
}

.trip__ai {
    position: relative;
    bottom: 270px;
    left: 163px;
    background-color: #301d49;
    color: white;
    border-radius: 50px;
    width: 210px;
    height: 50px;
    font-size: large
}

.viewbox {
    fill: white;
    position: absolute;
    left: 10px;
}